asn1crypto==0.24.0
awscli==1.16.26
boto3==1.9.16
botocore==1.12.16
cachetools==2.0.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cma==2.6.0
colorama==0.3.9
configparser==3.5.0
cryptography==2.3.1
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
enum34==1.1.6
filelock==3.0.9
Flask==1.0.2
funcsigs==1.0.2
future==0.16.0
futures==3.2.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud-core==0.27.1
google-cloud-pubsub==0.28.3
google-cloud-storage==1.5.0
google-gax==0.15.14
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.15.0
h5py==2.8.0
httplib2==0.11.3
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jwcrypto==0.5.0
MarkupSafe==1.0
msgpack==0.5.6
msgpack-numpy==0.4.4.1
murmurhash==0.28.0
numpy==1.15.2
oauth2client==3.0.0
pathlib==1.0.1
pika==0.11.2
Pillow==5.3.0
plac==0.9.6
ply==3.8
preshed==1.0.1
protobuf==3.6.1
psutil==5.4.7
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycryptodome==3.6.6
pygtail==0.9.0
python-dateutil==2.7.3
python-jwt==3.2.3
pytz==2018.5
PyYAML==3.13
regex==2017.4.5
requests==2.19.1
requests-toolbelt==0.8.0
rsa==4.0
s3transfer==0.1.13
setuptools-scm==3.1.0
setuptools-scm-git-archive==1.0
six==1.11.0
spacy==2.0.12
sseclient==0.0.19
studioml==0.0.11.post404
terminaltables==3.1.0
thinc==6.10.3
timeout-decorator==0.4.0
toolz==0.9.0
torch==0.4.1
torchtext==0.2.3
torchvision==0.2.1
tqdm==4.26.0
tzlocal==1.5.1
ujson==1.35
uritemplate==3.0.0
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
